
{% block sidebar_items %}
{% if request.user.role == "ADMIN" %}
<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Homashyo ombori</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:dashboard' %}">Homashyo ombori</a>
        <a class="dropdown-item text-danger" href="{% url 'superuser:material_inactives' %}">Tasdiqlanmagan
            homashyolar</a>
        <a class="dropdown-item" href="{% url 'superuser:material_types' %}">Homashyo turlari</a>
        <a class="dropdown-item" href="{% url 'superuser:material_history' %}">Tarix</a>
    </div>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Ehtiyot qismlar</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:spare_list' %}">Ehtiyot qism ombori</a>
        <a class="dropdown-item" href="{% url 'superuser:spare_export' %}">Ehtiyot qismlari eksport</a>
        <a class="dropdown-item" href="{% url 'superuser:spare_types' %}">Ehtiyot qism turlari</a>
        <a class="dropdown-item" href="{% url 'superuser:spare_history' %}">Tarix</a>
    </div>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Etiketika</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:label_list' %}">Etiketika ombori</a>
        <a class="dropdown-item" href="{% url 'superuser:label_export' %}">Etiketika eksport</a>
        <a class="dropdown-item" href="{% url 'superuser:label_types' %}">Etiketika turlari</a>
        <a class="dropdown-item" href="{% url 'superuser:label_history' %}">Tarix</a>
    </div>
</div>



<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Ishlab chiqarish</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:production_material_history' %}">Homashyo tarixi</a>
        <a class="dropdown-item" href="{% url 'superuser:send_yaim' %}">YaTMga mahsulot yuborish</a>
    </div>
</div>


<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'superuser:pre-production' %}" class="nav-link">Yarim tayyor  mahsulotlar</a>
</div>



<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Tayyor mahsulot</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:stock' %}" class="nav-link">Tayyor  mahsulotlar</a>
        <a class="dropdown-item" href="{% url 'superuser:stock-sell' %}">Mijozga sotish</a>
        <a class="dropdown-item" href="{% url 'superuser:sales' %}">Savdo</a>
        <a class="dropdown-item" href="{% url 'superuser:sales-history' %}">Savdo tarixi</a>
    </div>
</div>



<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Dizaynlar</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:design_home' %}" class="nav-link">Dizaynlar</a>
        <a class="dropdown-item" href="{% url 'superuser:design_price_history' %}" class="nav-link">Narxlar tarixi</a>
    </div>
</div>


<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'superuser:brak_list' %}" class="nav-link">Brak mahsulotlar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'superuser:expenditure' %}" class="nav-link">Harajatlar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'superuser:finance' %}" class="nav-link">Kirim & Chiqim</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'superuser:profiles' %}" class="nav-link">Menejerlar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Ishchilar</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:workers' %}">Ishchilar</a>
        <a class="dropdown-item" href="{% url 'superuser:unclosed-accounts' %}">Yopilmagan ish haqqilari</a>
        <a class="dropdown-item" href="{% url 'superuser:accounts-history' %}">Ish haqqi tarixi</a>
        <a class="dropdown-item" href="{% url 'superuser:register-workers-stats' %}">Ishlarni ro'yxatga olish</a>
    </div>
</div>


{% endif %}



{% if request.user.role == "MATERIAL" %}

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'materials:dashboard' %}" class="nav-link">Homashyo ombori</a>
</div>
<div class="sidebar-dropdown p-3 border-bottom dropdown">
<a href="{% url 'materials:inactives' %}" class="nav-link">Tasdiqlanmagan homashyolar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'materials:history' %}" class="nav-link">Tarix</a>
</div>

    
{% endif %}
    


{% if request.user.role == "SALES" %}
<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'sales:dashboard' %}" class="nav-link">Tayyor mahsulotlar ombori</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'sales:stock-create' %}" class="nav-link">Mahsulot kiritish</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="dropdown-item" href="{% url 'sales:stock-sell' %}">Mijozga sotish</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="dropdown-item" href="{% url 'sales:sales' %}">Savdolar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="dropdown-item" href="{% url 'superuser:sales-history' %}">Savdo tarixi</a>
</div>
{% endif %}


{% if request.user.role == "SPARE" %}
<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="dropdown-item" href="{% url 'spare:dashboard' %}">Ehtiyot qism ombori</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="dropdown-item" href="{% url 'spare:spare_export' %}">Ehtiyot qismlari eksport</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="dropdown-item" href="{% url 'spare:spare_types' %}">Ehtiyot qism turlari</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="dropdown-item" href="{% url 'spare:spare_history' %}">Tarix</a>
</div>

{% endif %}


{% if request.user.role == "DIRECTOR" %}

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'director:dashboard' %}" class="nav-link">Homashyo ombori</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'director:spare' %}" class="nav-link">Ehtiyot qism ombori</a>
</div>
    
<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'director:label' %}" class="nav-link">Etiketika ombori</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'director:pre-production' %}" class="nav-link">Yarim tayyor mahsulotlar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'director:stock' %}" class="nav-link">Tayyor mahsulotlar ombori</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'director:sales' %}" class="nav-link">Savdolar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'director:sales-history' %}" class="nav-link">Savdo tarixi</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'director:expenditure' %}" class="nav-link">Harajatlar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'director:finance' %}" class="nav-link">Kirim/Chiqimlar</a>
</div>

    
{% endif %}
    



<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'users:logout' %}" class="nav-link">Chiqish</a>
</div>
{% endblock sidebar_items %}
    