{% block sidebar_items %}
<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Homashyo ombori</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:dashboard' %}">Homashyo ombori</a>
        <a class="dropdown-item text-danger" href="{% url 'superuser:material_inactives' %}">Tasdiqlanmagan
            homashyolar</a>
        <a class="dropdown-item" href="{% url 'superuser:material_types' %}">Homashyo turlari</a>
        <a class="dropdown-item" href="{% url 'superuser:material_history' %}">Tarix</a>
    </div>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Ehtiyot qismlar</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:spare_list' %}">Ehtiyot qism ombori</a>
        <a class="dropdown-item" href="{% url 'superuser:spare_export' %}">Ehtiyot qismlari eksport</a>
        <a class="dropdown-item" href="{% url 'superuser:spare_types' %}">Ehtiyot qism turlari</a>
        <a class="dropdown-item" href="{% url 'superuser:spare_history' %}">Tarix</a>
    </div>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Etiketika</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:label_list' %}">Etiketika ombori</a>
        <a class="dropdown-item" href="{% url 'superuser:label_export' %}">Etiketika eksport</a>
        <a class="dropdown-item" href="{% url 'superuser:label_types' %}">Etiketika turlari</a>
        <a class="dropdown-item" href="{% url 'superuser:label_history' %}">Tarix</a>
    </div>
</div>



<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Ishlab chiqarish</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:production_material_history' %}">Homashyo tarixi</a>
        <a class="dropdown-item" href="{% url 'superuser:send_yaim' %}">YaTMga mahsulot yuborish</a>
    </div>
</div>



<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'superuser:design_home' %}" class="nav-link">Dizaynlar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'superuser:brak_list' %}" class="nav-link">Brak mahsulotlar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'superuser:expenditure' %}" class="nav-link">Harajatlar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a href="{% url 'superuser:profiles' %}" class="nav-link">Menejerlar</a>
</div>

<div class="sidebar-dropdown p-3 border-bottom dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Ishchilar</a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'superuser:workers' %}">Ishchilar</a>
        <a class="dropdown-item" href="{% url 'superuser:unclosed-accounts' %}">Yopilmagan ish haqqilari</a>
        <a class="dropdown-item" href="{% url 'superuser:accounts-history' %}">Ish haqqi tarixi</a>
        <a class="dropdown-item" href="{% url 'superuser:register-workers-stats' %}">Ishlarni ro'yxatga olish</a>
    </div>
</div>


{% endblock sidebar_items %}