{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block sidebar_items %}
{% include '../sidebar.html' %}
{% endblock sidebar_items %}


{% block content %}

<h3 class="mt-2">Dizayn</h3>
<hr>
<br>

<form method="post">
    {% csrf_token %}
    {{object}}
    <br>
    <div class="mt-3">

    <a href="{% url 'superuser:design_home' %}" class="btn btn-secondary">Ortga</a>
    <button type="submit" id="submit-btn" class="btn btn-danger">O'chirish</button>
    </div>
</form>
<br>

<hr>





{% endblock content %}