{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block sidebar_items %}
{% include '../sidebar.html' %}
{% endblock sidebar_items %}


{% block content %}

<h3 class="mt-2">Dizayn kiritish</h3>
<hr>

<form method="post">
    <div class="column-2">
        {% csrf_token %}
        {{form|crispy}}
    </div>
    <button type="submit" id="submit-btn" class="btn btn-primary">Kiritish</button>
</form>

<br><br>
<h3>Filterlash</h3>
<hr>

<form action="">
    <div class="row gy-2">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="">Nom</label>
                <input type="text" class="form-control" placeholder="Nom bo'yicha qidirish" name="name">
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="form-group">
                <label for="">Jinsi</label>
                <select name="sex" class="form-control">
                    <option value="">Jinsi tanlang</option>
                    <option value="male">Erkak</option>
                    <option value="female">Ayol</option>
                </select>
            </div>
        </div>
        
        <div class="col-sm-2">
            <div class="form-group">
                <label for="">Mavsum</label>
                <select name="season" class="form-control">
                    <option value="">Mavsumni tanlang</option>
                    <option value="winter">Qish</option>
                    <option value="summer">Yoz</option>
                </select>
            </div>
        </div>
        
        <div class="col-sm-2">
            <div class="form-group">
                <label for="">Narx</label>
                <select name="price" class="form-control">
                    <option value="">Narx miqdori</option>
                    <option value="1000">1 000 so'mgacha</option>
                    <option value="2000">1 000 - 2 000</option>
                    <option value="3000">2 000 - 3 000</option>
                    <option value="4000">3 000 - 4 000</option>
                    <option value="5000">4 000 - 5 000</option>
                    <option value="6000">5 000 - 6 000</option>
                    <option value="7000">6 000 - 7 000</option>
                    <option value="8000">7 000 - 8 000</option>
                    <option value="8000">8 000 - 9 000</option>
                    <option value="10000">9 000 - 10 000</option>
                    <option value="10001">10 000 dan katta </option>
                </select>
            </div>
        </div>

     
        
        <div class="col-sm-2">
            <div class="form-group">
                <label for="">Foizlar bo'yicha</label>
                <select name="percent" class="form-control">
                    <option value="">%</option>
                    
                    <option value="building">Faqat bino amortizatsiyasi mavjud</option>
                    <option value="machine">Faqat stanok amortizatsiyasi mavjud</option>
                    <option value="buildingandmachine">Bino va stanok amortizatsiyasi mavjud</option>
                    
                    <option value="unbuilding">Faqat bino amortizatsiyasi yo'q</option>
                    <option value="unmachine">Faqat stanok amortizatsiyasi yo'q</option>
                    <option value="unbuildingandunmachine">Bino va stanok amortizatsiyasi yo'q</option>
                    
                </select>
            </div>
        </div>
        
        

    </div>
    <button class="btn btn-primary mt-3">
        Qidirish
    </button>
</form>

<div class="table-responsive mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Dizayn nomi</th>
                <th>Jins</th>
                <th>Mavsum</th>
                <th>Sana</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td>{{forloop.counter0|add:page_obj.start_index}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.get_sex_display}}</td>
                <td>{{obj.get_season_display}}</td>
                <td>{{obj.created_at}}</td>
                <td>
                    <div class="d-flex gap-2 flex-row-reverse">
                        <a href="{% url 'superuser:design_delete' obj.id %}" class="btn btn-danger">
                            O'chirish
                        </a>
                        <a href="{% url 'superuser:design-edit-materials' obj.id %}" class="btn btn-success">
                            O'zgartirish
                        </a>
                        <a href="{% url 'superuser:design-details' obj.id %}" class="btn btn-primary">
                            Batafsil
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% if page_obj.has_next or page_obj.has_previous %}

<div class="pagination">
    <span class="step-links">

        <br>
        <h6 class="current">
            {{ page_obj.paginator.num_pages }} - {{ page_obj.number }} sahifa.
            </h4>
            <br>


            <a class="pagination-btn" {% if page_obj.has_previous %} href="?page=1" {% endif %}>&laquo;Birinchi</a>
            |
            <a class="pagination-btn" {% if page_obj.has_previous %} href="?page={{ page_obj.previous_page_number }}"
                {%endif %}>‹ Oldingi</a> |




            <a class="pagination-btn" {% if page_obj.has_next %}
                href="?page={{ page_obj.next_page_number }} {% endif %}">Keyingi ›</a> |
            <a class="pagination-btn" {% if page_obj.has_next %} href="?page={{ page_obj.paginator.num_pages }}"
                {%endif%}>Oxirgi &raquo;</a>

    </span>
</div>

{% endif %}



{% endblock content %}